<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}"
>

<div layout:fragment="content">
	<div
		class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-start md:justify-start md:flex-col md:px-6"
	>
		<div>실험실입니다.</div>
		<div>여러가지를 실험하는 곳입니다.</div>
		<hr class="mb-6" style="width: 100%;">
	</div>
	<div class="flex flex-row max-w-screen-3xl px-10 md:flex-row mx-auto">
		<div th:replace="fragments/aside::aside"></div>
		<div class="border text-gray-800 py-6 ml-10 pl-4 flex-1 p-2">
			contents

			<div class="text-2xl p-2 mb-1 font-bold">CRUD 기초</div>
			<hr class="py-1">
				<form th:action="@{/lab/addUser}" method="POST">
					<div class="flex flex-col border-2 border-gray-700 bg-gray-100 max-w-[500px] pl-5 py-3 rounded-sm my-2">
						<div class="my-1" style="width:500px;">
							<label for="nameB" class="font-bold">이름 :</label>
							<input required name="nameB" type="text" class="focus:bg-blue-100 rounded-sm border-2 border-gray-800 hover:border-2 hover:border-black-900">
						</div>
						<div class="my-2"style="width:500px;">
							<label for="ageB" class="font-bold">나이 :</label>
							<input required name="ageB" type="number" class="focus:bg-blue-100 rounded-sm border-2 border-gray-800 hover:border-2 hover:border-black-900">
						</div>
						<button type="submit" class="w-[200px] bg-green-500 text-white rounded"><i class="fa-regular fa-square-plus mr-3"></i><span class="font-bold">등록</span></button>
					</div>
				</form>
				
				<!-- 리스트부분 -->
				<div>
					<div class="font-bold text-xl">명단 리스트</div>
					<hr class="py-1">
					<ul class="w-[530px]">
						<li class="mt-2" th:each="data : ${dataList}">
							<div class="flex p-2 border-2">
									<div class="font-semibold bg-gray-200 p-2" th:text="'번호 :'+${data.id}"></div>
								<div class="flex flex-col">
									<div class="font-semibold p-2" th:text="'이름 :'+${data.nameB}"></div>
									<div class="font-semibold p-2" th:text="'나이 :' +${data.ageB}"></div>
								</div>
									<button class="w-[200px] h-[120px] p-2 ml-5 bg-red-500 text-white rounded ml-auto"><i class="fa-regular fa-circle-xmark"></i> 선택 삭제</button>
							</div>
						</li>
							<button class="w-[200px] bg-red-500 text-white rounded my-3" th:if="${dataList != null and dataList.size() > 0}"><i class="fa-regular fa-circle-xmark"></i> 전체 삭제</button>
					</ul>
					
				</div>
				
				
				
				
				
				</div>
			</div>
			



	</div>
</div>



</html>