<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}">

	
	<div layout:fragment="content">
		<div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-start md:justify-start md:flex-col md:px-6">
			<div>실험실입니다.</div>
			<div>여러가지를 실험하는 곳입니다.</div>
		<hr class="mb-6" style="width:100%;">
		</div>
		<div class="flex flex-row max-w-screen-3xl px-10 md:flex-row mx-auto">
							<div th:replace="fragments/aside::aside"></div>
							<div id="jsworkContainer" class="border text-gray-800 py-6 ml-10 pl-4 flex-1 p-2 mb-3" >contents

									<div class="text-2xl p-2 mb-1 font-bold">자바스크립트 연습작</div>
																<hr class="mb-6" style="width:100%;">
																<div id="op2" class="mt-3">
																	<div id="user1" class="obj">user1</div>
																	<div id="user2" class="obj">user2</div>
																</div>
																<div class="field mt-3" id="op">
																</div>
																<button id="create_obj" class="border-2 font-bold">요소 생성</button>
																<button id="del" class="border-2 font-bold" >지우기</button>
																<input type="range" id="bar">
															<script th:src="@{/js/test.js}"></script>
															<script>
															       document.addEventListener('keydown', function(event) {
															           const keysToDisable = [
															               'ArrowUp',    // 위쪽 화살표
															               'ArrowDown',  // 아래쪽 화살표
															               'PageUp',     // 페이지 위로
															               'PageDown',   // 페이지 아래로
															               'Space',      // 스페이스바
															               'Home',       // 맨 위로
															               'End'         // 맨 아래로
															           ];


															           if (keysToDisable.includes(event.key)) {
															               event.preventDefault(); // 기본 동작 방지
															           }
															       });
															   </script>
												<div class="text-xl font-bold mt-3">학습 목표</div>
												<div>자바스크립트의 여러 기능을 익히고 객체를 이해한다.</div>
												<div class="text-xl font-bold mt-3">구현 내용</div>
													<ul class="pl-2">
														<li class="p-2" style="list-style-type: disc;">요소생성: 박스 영역 안에 무작위 원도형을 생성합니다.</li>
														<li class="p-2" style="list-style-type: disc;">지우기: 박스 안 생성된 도형을 모두 지웁니다.</li>
														<li class="p-2" style="list-style-type: disc;">스케일바: 마우스로 조절하여 생성된 도형의 크기를 조절할 수 있습니다.</li>
														<li class="p-2" style="list-style-type: disc;">화살표키,a,w,d,s키:user1,user2박스을 움직일 수 있습니다.</li>
														<li class="p-2" style="list-style-type: disc;">생성된 도형에 호버하면 도형이 변형됩니다.</li>				
													</ul>
												</div>
										</div>
									</div>

								</html>