<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}">
	
	
	<div layout:fragment="content">
		<div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-start md:justify-start md:flex-col md:px-6">
						<h1 class="bg-gray-200 text-gray-800 py-6 text-3xl p-2 mb-1 tracking-wide px-5">Introduce.</h1>
						<div class="relative flex">
							<div th:replace="fragments/aside::aside"></div>
							<H1 class="bg-gray-200 text-gray-800 py-6" >실험실 입니다.</H1>
						</div>
		</div>
	</div>

</html>