<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}">
	
	
	<div layout:fragment="content">
		<div class="flex flex-col max-w-screen-xl mx-auto">
			<H1 class="bg-gray-200 text-gray-800 py-6" >포트폴리오페이지입니다.</H1>
			<hr class="mb-6 my-1" style="width:100%;">
			
			<div class="flex flex-col bg-blue-200">
				<div class="flex flex-row mb-4 flex-between">
					<div class="py-5 px-3 bg-red-100 border-2 border-red-300">프로필 사진1</div>
					<div class="py-5 px-3 border-2 border-red-300 flex-1">설명란1</div>
				</div>
				
				<div class="flex flex-row mb-4">
					<div class="py-5 px-3 bg-red-100 border-2 border-red-300">프로필 사진1</div>
					<div class="py-5 px-3 border-2 border-red-300 flex-1">설명란1</div>
				</div>

				
				<div class="flex flex-row mb-4">
					<div class="py-5 px-3 bg-red-100 border-2 border-red-300">프로필 사진1</div>
					<div class="py-5 px-3 border-2 border-red-300 flex-1">설명란1</div>
				</div>

				
				<div class="flex flex-row mb-4">
					<div class="py-5 px-3 bg-red-100 border-2 border-red-300">프로필 사진1</div>
					<div class="py-5 px-3 border-2 border-red-300 flex-1">설명란1</div>
				</div>

			</div>
			
			
			
			
		</div>
		
		
	</div>

</html>