<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}"
>

<div layout:fragment="content">
	<div
		class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-start md:justify-start md:flex-col md:px-6"
	>
		<div>실험실입니다.</div>
		<div>여러가지를 실험하는 곳입니다.</div>
		<hr class="mb-6" style="width: 100%;">
	</div>
	<div class="flex flex-row max-w-screen-3xl px-10 md:flex-row mx-auto">
		<div th:replace="fragments/aside::aside"></div>
		<div class="border text-gray-800 py-6 ml-10 pl-4 flex-1 p-2">
			contents

			<div class="text-2xl p-2 mb-1 font-bold">CRUD 기초</div>
			<hr class="py-1">



		</div>

	</div>
</div>



</html>