<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>
  <meta charset = "utf-8">
	<!--폰트-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
	<!--테일윈드-->
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" th:href="@{/css/test.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
  <title></title>
 </head>
 <body>
	
		<!--<div th:replace="fragments/header::header"></div>-->
		
		<th:block th:replace="fragments/navbar::navbarFragment"></th:block>
		
		<div id="Nav_content_space"></div>
		
		<th:block layout:fragment="content" id="content"></th:block>
		
		<div th:replace="fragments/footer::footer"></div>

	
 </body>
</html>