name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: 4852
          MYSQL_DATABASE: test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping --silent" --health-interval=5s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build

  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    needs: build  # 빌드가 완료된 후 배포 시작

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Copy JAR file to EC2
        run: |
          scp -i ${{ secrets.EC2_SSH_KEY }} build/libs/ProjectA-0.0.1-SNAPSHOT.jar ec2-user@${{ secrets.EC2_PUBLIC_IP }}:/home/ec2-user/ProjectA-0.0.1-SNAPSHOT.jar

      - name: SSH to EC2 and run JAR file
        run: |
          ssh -i ${{ secrets.EC2_SSH_KEY }} ec2-user@${{ secrets.EC2_PUBLIC_IP }} "java -jar /home/ec2-user/ProjectA-0.0.1-SNAPSHOT.jar"
